@use "../abstracts/variables";

button {
  display: block;
  padding: 0.3rem 1.5rem;
  margin: 0.5rem 1rem;
  background-color: variables.$color-primary;
  border-radius: 2.5rem;
  color: variables.$color-light;
  font-weight: 500;
  box-shadow: 0 1rem 2rem rgba(variables.$color-tertiary, 0.3);
  border: .3rem outset variables.$color-secondary;
  cursor: pointer;
  white-space: nowrap;

  transition: transform .2s;

  animation: .5s linear 0s 1 flyInLeft;

  &:focus,
  &:active,
  &:hover {
    outline: none;
    transform: scale(1.1);
  }
  &::-moz-focus-inner {
    border: 0;
  }
}
