.dice {
  display: flex;
  height: auto;
  list-style: none;
  text-align: center;
  justify-content: flex-start;

  &-item {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
	  box-shadow: none;
    display: block;
    cursor: pointer;
    height: 5rem;

    transition: transform .2s;
    position: relative;

    animation: .5s linear 0s 1 flyInLeft;

    user-select: none;
    &:focus,
    &:hover {
      outline: none;
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1.05);
    }
  }

  &-image {
    height: 100%;
  }
  
  &-text {
      z-index: 10;
      position: absolute;
      font-weight: 700;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $color-light;

      &--d4{
        top: 60%;
      }
  }

  &-badge {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
    border-radius: 50%;
    line-height: 1.8rem;
    width: 1.8rem;
    color: $color-light;
    background-color: $color-tertiary;
  }
}