.filterScroller {
  grid-row: 1 / 5;
  display: flex;
  overflow-y: auto;
  list-style: none;
  text-align: center;
  border-right: .2rem solid $color-tertiary;
  max-width: 30vw;

  &-container {
    display:flex;
    flex-direction: column;
  }

  &-item {
    display: block;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem 1rem;
    background-color: $color-primary;
    border-radius: 2.5rem;
    box-shadow: 0 1rem 2rem rgba($color-tertiary, 0.3);
    cursor: pointer;
    transition: transform .2s;
    animation: .5s ease-in 0s 1 expand;
    border: 0;
    white-space: nowrap;
    user-select: none;
    text-align: left;
    width: min-content;

    &:focus,
    &:hover {
      outline: none;
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1.05);
    }
  }
}
