.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

  align-items: center;
  width: auto;

  margin: 0rem 0rem;
  border-top: .1rem solid $color-bg;
  background-color: $color-bg;
  border-bottom: .3rem solid $color-tertiary;
  overflow-y: auto;

  &-logo {
    display: inline-block;
    height: 5rem;
    width: auto;
  }

  &-text {
    margin-left: 2rem;
    justify-self: center;
  }
}
