.container{
  display: grid;
  grid-template-columns: minmax(2rem, 20vw) minmax(95vw, 1fr) minmax(2rem, 20vw);
  grid-template-rows: minmax(max-content, 3rem) 1fr minmax(max-content, 3rem);

  justify-content: center;
  align-content: center;

  height: calc(100vh - 11rem);
  }

.main {
  color: $color-light;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: $color-bg;
  box-shadow: 0 1rem 4rem $color-dark;

  display: grid;
  grid-template-rows: 1rem minmax(0, 1fr) minmax(2rem, max-content);
  grid-template-columns: min-content 1fr;

  min-height: 0;
  min-width: 0;

  &-footer {
    grid-column: 2 / 4;
    border-top: .2rem solid $color-tertiary;
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
    outline:none;
  }
}
